.container{
    margin-bottom: 80px;
}


.orange-bg{
    background-color: #FBE7E7;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: rgb(78, 5, 5);
}
.banner-img-wrap img{
    border-radius: 6px;
    width: 400px;
    height: 350px;
}


.buy-now-button {background-image: linear-gradient(to right, #d4a8a8 0%, #944747  51%, #d8bbbb  100%)}
.buy-now-button{
   border: none;
   padding: 15px 35px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #976868;
   border-radius: 6px;
   display: block;
 }

 .buy-now-button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #FBE7E7;
   text-decoration: none;
 }

 .categories h1{
     color: #FFFDF5;
 }
 .categories img{
     opacity: 0.8;
     z-index: 2;
     width: 100px;
     height: 90px;
     border-radius: 5px;
 }
 .cat-1, .cat-2, .cat-3{
     padding: 15px 20px;
     border-radius: 10px;
 }
 .cat-1{
     background-color: #F0AC25;
     background-image: linear-gradient(to right, #EF962D 0%, #F2A92A  51%, #F3C41A  100%);
 }
 .cat-2{
     background-color: #EC2F78;
     background-image: linear-gradient(to right, #ED4287 0%, #ED4287  51%, #c5306c  100%);
 }
 .cat-3{
    background-color: #3840FA;
    background-image: linear-gradient(to right, #4070FF 0%, #353CFB  51%, #3417F1  100%);
}

.card{
border: none;
box-shadow: 5px 5px 5px #E3E3E3;
border-radius: 15px;
}
.card .shoe-image:hover{
transform: skew(5deg, 5deg);
transition: all 0.4s;
cursor: pointer;
}
.card .shoe-button{
background-color: #E93179;
text-transform: uppercase;
border: none;
border-radius: 5px;
background-image: linear-gradient(to top, #E93179, 0%, #E93179 51%, #E93179 100%);
}

.card .shoe-button:hover{
font-size: bold;
transform: scale(1.1);
transition: transform 0.5s;
}

.card .backpak-img:hover{
transform: scale(1.06);
transition: transform 0.2s;
cursor: pointer;
}

 .sub-bg{
    background-color: #FBE7E7;
} 
.sub-bg p{
    background-color: #dad1d357;
    border-radius: 4px;
    padding: 5px 2px;
}

@media screen and (min-width: 769px) {
    .sub-bg{
        padding: 70px 200px;
    }
}


.subscribe-button {background-image: linear-gradient(to right, rgb(173, 150, 150) 0%, #7a1717  51%, #725e5e  100%)}
.subscribe-button{
   margin-top: 2px;
   border: none;
   padding: 9px 25px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: rgb(216, 216, 216);            
   border-radius: 6px;
   display: block;
 }

 .subscribe-button:hover {
   margin-top: 4px;
   background-position: right center; /* change the direction of the change here */
   color: #020000;
   text-decoration: none;
   box-shadow: 0 0 20px #501111;
   transform: scale(1.04);
 }

 .footer a{
 text-decoration: none;
 }

 .ftr{
    text-align: center;
    margin-bottom: 5px;
 }


